*~
\#*#
.python-environments/
.org-id-locations
ac-comphist.dat
auto-save-list/
ede-projects.el
elpa/
ido.last
init.el~
myinit.el
myinit.org~
network-security.data
presentation.org
presentation.org
projectile-bookmarks.eld
recentf
recentf~
semanticdb
snippets
tutorial

